# Lidando com planilhas no pandas

Podemos tratar planilhas de três formatos diferentes:
 * .csv;
 * .excel;
 * .sql.

Recomendo [esse artigo](https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92) ensinando como lidar com planilhas no Google Colab e [esse site](https://www.kaggle.com/datasets) para download de planilhas.

Parte essencial da Ciência de Dados é o tratamento de dados que estão armazenados em uma planilha.

Abaixo temos uma planilha (*claramente desatualizada*) sobre venda de jogos de video game.

Vamos atribuir essa planilha a um data frame:

In [36]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/leoperassoli/python/master/pandas/vgsales.csv"
df1 = pd.read_csv(url)
df1

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

Nossa planilha agora é um data frame.

É possível tratar esse data frame de milhares de formas, tudo depende do que é desejado.

Nesse caso, vamos supor que queremos que os nossos índices sejam os nomes dos jogos.

A função **.set_index("*nome_coluna*")** define os valores de uma coluna como novos índices:

In [37]:
df1 = df1.set_index("Name")
df1

                                                   Rank  ... Global_Sales
Name                                                     ...
Wii Sports                                            1  ...        82.74
Super Mario Bros.                                     2  ...        40.24
Mario Kart Wii                                        3  ...        35.82
Wii Sports Resort                                     4  ...        33.00
Pokemon Red/Pokemon Blue                              5  ...        31.37
...                                                 ...  ...          ...
Woody Woodpecker in Crazy Castle 5                16596  ...         0.01
Men in Black II: Alien Escape                     16597  ...         0.01
SCORE International Baja 1000: The Official Game  16598  ...         0.01
Know How 2                                        16599  ...         0.01
Spirits & Spells                                  16600  ...         0.01

[16598 rows x 10 columns]

O resultado agora é um data frame de mais facil compreensão.

Como estamos lidando com data frames, os métodos **.loc["índice"]** e **.iloc[índice]** continuam iguais:

In [38]:
print(df1.loc["Pokemon Red/Pokemon Blue"])
print("\n")
print(df1.iloc[4])

Rank                       5
Platform                  GB
Year                    1996
Genre           Role-Playing
Publisher           Nintendo
NA_Sales               11.27
EU_Sales                8.89
JP_Sales               10.22
Other_Sales                1
Global_Sales           31.37
Name: Pokemon Red/Pokemon Blue, dtype: object


Rank                       5
Platform                  GB
Year                    1996
Genre           Role-Playing
Publisher           Nintendo
NA_Sales               11.27
EU_Sales                8.89
JP_Sales               10.22
Other_Sales                1
Global_Sales           31.37
Name: Pokemon Red/Pokemon Blue, dtype: object

#Máscara Booleana

Quando queremos saber quais valores de um conjunto seguem algum critério, usamos a máscara booleana:

In [39]:
a = np.array([1,2,3,6,7,8,10,11,12])
b = a < 10
b #mascara booleana

array([ True,  True,  True,  True,  True,  True, False, False, False])

A variável **b** é um vetor que, para cada número que se encaixa no critério escolhido, recebe ***True*** e caso contrário, recebe ***False***.

Uma máscara booleana pode ser criado para tratar data frames:

In [40]:
mask = df1["Year"] < 2010
mask #mascara booleana

Name
Wii Sports                                           True
Super Mario Bros.                                    True
Mario Kart Wii                                       True
Wii Sports Resort                                    True
Pokemon Red/Pokemon Blue                             True
                                                    ...
Woody Woodpecker in Crazy Castle 5                   True
Men in Black II: Alien Escape                        True
SCORE International Baja 1000: The Official Game     True
Know How 2                                          False
Spirits & Spells                                     True
Name: Year, Length: 16598, dtype: bool

No nosso exemplo, a máscara booleana receberá ***True*** apenas para jogos que foram lançados ***após 2010***.

Para os jogos que foram lançados ***antes de 2011***, a máscara receberá ***False***.

Passando a máscara como parâmetro, temos todos os jogos que se encaixam no critério.

Vamos criar uma máscara para o top 3:

In [41]:
top_3 = df1["Rank"] < 4 #criando a mascara
df3 = df1[top_3] #mascara por parametro
df3 #nova data frame com o top 3

                   Rank Platform    Year  ... JP_Sales Other_Sales  Global_Sales
Name                                      ...
Wii Sports            1      Wii  2006.0  ...     3.77        8.46         82.74
Super Mario Bros.     2      NES  1985.0  ...     6.81        0.77         40.24
Mario Kart Wii        3      Wii  2008.0  ...     3.79        3.31         35.82

[3 rows x 10 columns]

O nosso data frame só recebeu os valores que estavam marcados como ***True*** da máscara booelana.

Vamos supor que agora queremos os jogos do top 3 que foram feitos para o console ***Nintendo Wii***:

In [42]:
mask_2 = df3["Platform"] == "Wii"
df4 = df3[mask_2]
df4

                Rank Platform    Year  ... JP_Sales Other_Sales  Global_Sales
Name                                   ...
Wii Sports         1      Wii  2006.0  ...     3.77        8.46         82.74
Mario Kart Wii     3      Wii  2008.0  ...     3.79        3.31         35.82

[2 rows x 10 columns]

Usamos a máscara booleana sempre que queremos selecionar uma parte específica do conjunto de dados que temos.

É possível a exclusão das colunas selecionando somente as colunas desejáveis.

Vamos montar um data frame reduzido tirando as colunas que contém dados que não nos interessam:

In [43]:
colunas_pra_ficar = ["Rank","Platform","Year","EU_Sales"]
df1 = df1[colunas_pra_ficar]
df1

                                                   Rank  ... EU_Sales
Name                                                     ...
Wii Sports                                            1  ...    29.02
Super Mario Bros.                                     2  ...     3.58
Mario Kart Wii                                        3  ...    12.88
Wii Sports Resort                                     4  ...    11.01
Pokemon Red/Pokemon Blue                              5  ...     8.89
...                                                 ...  ...      ...
Woody Woodpecker in Crazy Castle 5                16596  ...     0.00
Men in Black II: Alien Escape                     16597  ...     0.00
SCORE International Baja 1000: The Official Game  16598  ...     0.00
Know How 2                                        16599  ...     0.01
Spirits & Spells                                  16600  ...     0.00

[16598 rows x 4 columns]

Isolando o número de vendas na Europa, vemos que o ***Rank*** não condiz com as vendas.

Para descobrir o ***Rank*** na Europa, vamos ordenar os jogos pelas vendas.

O método **.sort_values(["*nome_coluna*"])** irá ordenar a coluna de maneira *crescente*.

No nosso caso, queremos ordenar as vendas na Europa do jogo com maior venda até o com menor venda.

Passar o parâmetro ***ascending = False*** resolverá nosso problema:

In [44]:
df1 = df1.sort_values(["EU_Sales"], ascending = False)
df1

                                           Rank Platform    Year  EU_Sales
Name
Wii Sports                                    1      Wii  2006.0     29.02
Mario Kart Wii                                3      Wii  2008.0     12.88
Wii Sports Resort                             4      Wii  2009.0     11.01
Nintendogs                                   11       DS  2005.0     11.00
Grand Theft Auto V                           17      PS3  2013.0      9.27
...                                         ...      ...     ...       ...
Winning Post 4 Maximum                    12568      PS2  2000.0      0.00
World Soccer Winning Eleven 9 (US sales)  12567      PSP  2005.0      0.00
Satisfashion                              12566       DS  2010.0      0.00
Attack on Titan (KOEI)                    12565      PS3  2016.0      0.00
Spirits & Spells                          16600      GBA  2003.0      0.00

[16598 rows x 4 columns]

Com o número de vendas ordenado, o ***Rank*** fica modelado de maneira não ordenada.

Portanto, queremos criar o ***Rank_EU_Sales*** que obedece a ordenação das vendas na Europa.

Para isso, é relevante filtrar os jogos que não tiveram valor de venda no nosso foco de análise:

In [45]:
df1 = df1[(df1["EU_Sales"] > 0)]
df1

                                    Rank Platform    Year  EU_Sales
Name
Wii Sports                             1      Wii  2006.0     29.02
Mario Kart Wii                         3      Wii  2008.0     12.88
Wii Sports Resort                      4      Wii  2009.0     11.01
Nintendogs                            11       DS  2005.0     11.00
Grand Theft Auto V                    17      PS3  2013.0      9.27
...                                  ...      ...     ...       ...
007: Quantum of Solace              9320       DS  2008.0      0.01
Dragon Ball Z: Sagas                4257      PS2  2005.0      0.01
Brothers In Arms: Earned in Blood   4254      PS2  2005.0      0.01
Disgaea 2: Dark Hero Days           6713      PSP  2009.0      0.01
The Godfather: Mob Wars            10294      PSP  2006.0      0.01

[10868 rows x 4 columns]

Esse filtro nos proporciona um novo data frame com quase 6 mil jogos a menos.

Sempre que possível, é uma boa ideia retirar do data frame os valores que não agregam nada para a análise em questão.

Agora, vamos excluir a antiga coluna ***Rank*** e adicionar uma nova coluna que estará ordenada na maneira que desejamos:

In [46]:
df1_new_rank = df1.drop(["Rank"],axis = 1)
df1_new_rank["Rank_EU_Sales"] = [*range(1,len(df1["Rank"])+1,1)]

df1_new_rank

                                  Platform    Year  EU_Sales  Rank_EU_Sales
Name
Wii Sports                             Wii  2006.0     29.02              1
Mario Kart Wii                         Wii  2008.0     12.88              2
Wii Sports Resort                      Wii  2009.0     11.01              3
Nintendogs                              DS  2005.0     11.00              4
Grand Theft Auto V                     PS3  2013.0      9.27              5
...                                    ...     ...       ...            ...
007: Quantum of Solace                  DS  2008.0      0.01          10864
Dragon Ball Z: Sagas                   PS2  2005.0      0.01          10865
Brothers In Arms: Earned in Blood      PS2  2005.0      0.01          10866
Disgaea 2: Dark Hero Days              PSP  2009.0      0.01          10867
The Godfather: Mob Wars                PSP  2006.0      0.01          10868

[10868 rows x 4 columns]

O resultado é um data frame ordenado pelas vendas europeias com o ***Rank*** atualizado de acordo com o novo critério.

A função **.set_index("*nome_coluna*")** permite criar ***mais de um índice*** no data frame:

In [47]:
df_2i = pd.read_csv(url)
df_2i

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [52]:
df_2i = df_2i.sort_values(["Platform"], ascending = False)

        Rank                   Name  ... Other_Sales  Global_Sales
15052  15055  NASCAR Heat Evolution  ...        0.00          0.02
3995    3997       Alien: Isolation  ...        0.04          0.50
6426    6428  Rory McIlroy PGA Tour  ...        0.02          0.27
4200    4202                 NHL 16  ...        0.05          0.47
4309    4311           Thief (2014)  ...        0.04          0.45
...      ...                    ...  ...         ...           ...
4967    4969                Airlock  ...        0.00          0.39
4908    4910            Laser Blast  ...        0.00          0.39
4894    4896          Bump 'n' Jump  ...        0.00          0.39
4780    4782                  Pengo  ...        0.00          0.40
8758    8760        Pressure Cooker  ...        0.00          0.15

[16598 rows x 11 columns]

In [53]:
df_2i = df_2i.set_index(["Platform", "Year"])
df_2i

                  Rank                   Name  ... Other_Sales Global_Sales
Platform Year                                  ...
XOne     2016.0  15055  NASCAR Heat Evolution  ...        0.00         0.02
         2014.0   3997       Alien: Isolation  ...        0.04         0.50
         2015.0   6428  Rory McIlroy PGA Tour  ...        0.02         0.27
         2015.0   4202                 NHL 16  ...        0.05         0.47
         2014.0   4311           Thief (2014)  ...        0.04         0.45
...                ...                    ...  ...         ...          ...
2600     1981.0   4969                Airlock  ...        0.00         0.39
         1981.0   4910            Laser Blast  ...        0.00         0.39
         1982.0   4896          Bump 'n' Jump  ...        0.00         0.39
         1983.0   4782                  Pengo  ...        0.00         0.40
         1982.0   8760        Pressure Cooker  ...        0.00         0.15

[16598 rows x 9 columns]

O data frame novo é organizado em grupos, sendo os blocos tendo o ***índice Platform*** e os ***subíndices Year***.